{
  "printWidth": 100,
  "tabWidth": 2,
  "parser": "babylon",
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.json", ".eslintrc", ".tslintrc", ".prettierrc", ".tern-project"],
      "options": {
        "parser": "json",
        "tabWidth": 2
      }
    },
    {
      "files": "*.{css,sass,scss,less}",
      "options": {
        "parser": "postcss",
        "tabWidth": 2
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
